@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&family=Ubuntu:wght@300&display=swap');

body{
    background-color: coral;
    font-family: 'Roboto', sans-serif; 
}
.input{
    position: relative;
    left: 500px;
    box-sizing: border-box;
}
.flex-container{
    height: 300px;
    width: 300px;
    margin: 0 auto;
    padding: 8px;
}
.rows{
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn{
    height: 50px;
    width: 50px;
    border: 2px solid black;
    margin: 0.3rem;
    padding: 15px;
    cursor: pointer;
}